<mat-accordion id="player-container">
 
  <mat-expansion-panel
    [expanded] = "open"
    (opened) = "toggleOpen(true)"
    (closed) = "toggleOpen(false)"
    (afterCollapse)="resizeContainer()"
    (afterExpand)="resizeContainer()">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ open? 'Close' : 'Open'}} Player
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div id="player-content" class="player">

      <div class="first-row">
        <app-weaving-state 
          (isWeaving)="toggleWeaving($event)"
          
        ></app-weaving-state>
        <!-- <app-sequencer
          [isWeaving]="pls.weaving"
        ></app-sequencer> -->
      </div>
      
      <div class="break"></div>
      

    </div>

    
    
  </mat-expansion-panel>

</mat-accordion>

