.player { 
  flex-wrap: wrap;
  display: flex;
  align-items: flex-start;
  height: inherit; 
  flex: 1;
}

.top-aligned {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.sequencer-block {
  align-items: flex-start;
  display: inline-flex;
  height: inherit;
  flex: 8;
}

.op-menu-block {
  display: block;
  max-width: 210px;
}

.first-row, .second-row {
  flex-basis: 100%;
}

.break{
  flex-basis: 100%;
  border-width: 5px;
  color: blue;
}


.mat-button {
  background-color: #ff4081;
  color: white;
  width: inherit;
  margin-left: 10px;
  margin-right: 10px;
}

.mat-button.mat-button-disabled {
  background-color: #fd6d9d;
  color: rgba(255, 255, 255, 0.50);
  
}

.mat-expansion-panel-header, 
.mat-expansion-panel-header.mat-expanded:focus {
  background: #121f6b;
}

.mat-expansion-panel-body {
  padding: 0px;
}

.square-corners {
  border-radius: 0pt;
  border-bottom-left-radius: 0pt;
  border-bottom-right-radius: 0pt;
  border-top-left-radius: 0pt;
  border-top-right-radius: 0pt;
}

.mat-expansion-panel, .mat-accordion, .mat-expansion-panel-header,
.mat-accordion .mat-expansion-panel:last-of-type, 
.mat-accordion .mat-expansion-panel:first-of-type  {
  border: #ffffff 1px;
  border-radius: 0pt;
  border-bottom-left-radius: 0pt;
  border-bottom-right-radius: 0pt;
  border-top-left-radius: 0pt;
  border-top-right-radius: 0pt;
  border-bottom: 0pt;
}

.mat-expansion-panel-header:hover, 
.mat-expansion-panel-header.mat-expanded:hover,
.mat-expansion-panel:not(.mat-expanded), 
.mat-expansion-panel-header:hover:not([aria-disabled=true])   {
  background: #566be2;
}

.mat-expansion-panel-header-title, .mat-expansion-indicator{
  color: white;
}