.player { 
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: inherit; 
}

.break{
  flex-basis: 100%
}

.player-field-header {
  padding: 14px;
  margin: unset;
  background: #3f51b5;
  color: #ffffff;
}

.mat-expansion-panel-header, 
.mat-expansion-panel-header.mat-expanded:focus {
  background: #121f6b;
}

.mat-expansion-panel-body {
  padding: 0px;
}

.mat-expansion-panel, .mat-accordion, .mat-expansion-panel-header,
.mat-accordion .mat-expansion-panel:last-of-type, 
.mat-accordion .mat-expansion-panel:first-of-type  {
  border: #ffffff 1px;
  border-radius: 0pt;
  border-bottom-left-radius: 0pt;
  border-bottom-right-radius: 0pt;
  border-top-left-radius: 0pt;
  border-top-right-radius: 0pt;
  border-bottom: 0pt;
}

.mat-expansion-panel-header:hover, 
.mat-expansion-panel-header.mat-expanded:hover,
.mat-expansion-panel:not(.mat-expanded), 
.mat-expansion-panel-header:hover:not([aria-disabled=true])   {
  background: #566be2;
}

.mat-expansion-panel-header-title, .mat-expansion-indicator{
  color: white;
}