<div class="second-row">
  
  <div id="sequencer-container" class="sequencer-block">
    <h2 class="player-field-header">Operation Sequencer </h2>
    <div class="operation-sequence">
      <ng-container *ngFor="let o of seq.ops; index as i">
        <app-operation
          [seq_id] = i
          [op] = o
          [is_selected] = "seq.pos == i"
          (onOperationParamChange) = "paramUpdated($event)"
          (onDeleteOp) = "opDeleted($event)"
          (onShiftOp) = "opShifted($event, i)"
        ></app-operation>
      </ng-container>
    </div>
  </div>
  
  <div class = "op-block">
    <mat-expansion-panel id ="operations-menu-s" class="op-menu-block" #opMenuS>
      <mat-expansion-panel-header id ="operations-header-structure" class="op-header-s">
        <mat-panel-title>
          Structure Operations
        </mat-panel-title>
      </mat-expansion-panel-header>
        
      <ng-container *ngFor="let class of pls.draftClassificationS">
        <div id="op-container" class="op-field">
          <h3>{{class.category}}</h3>
          <p> {{class.dx}}</p>
          <ng-container *ngFor="let op of class.ops">
           
            <button 
              mat-stroked-button
              [matTooltip] = op.dx
              matTooltipClass= "visibleTooltip" 
              [name] = op.name 
              [matMenuTriggerFor]="opMenu"
            >
            <div class="op-field-info">
              <div *ngIf="class.category_id == 1; else notCustom" class="op-field-info-custom">
                <mat-icon svgIcon="op-custom" aria-hidden="false" aria-label="icon for custom operation"></mat-icon>
              </div>
              <ng-template #notCustom>
                <mat-icon svgIcon="op-{{op.name}}" aria-hidden="false" aria-label="icon for {{op.name}} operation"></mat-icon>
              </ng-template>

              <div>{{op.name}}</div>
            </div>
            </button> 

            <mat-menu #opMenu="matMenu">
              <div class="sub-menu">
                <button mat-stroked-menu-item
                (click) ="addSingleOp(op)"
                class="sub-menu-button">
                  Add to Sequencer
                </button>

                <button mat-stroked-menu-item
                (click) ="addChainOp(op)"
                class="sub-menu-button">
                  Add Chain to Sequencer
                </button> 

                <div class="sub-menu-rest">
                  <ng-container *ngIf="map.availablePedals.length > 0">
                    Pair with Pedal
                    <div class="sub-menu-pairs">
                      <ng-container *ngFor="let p of map.availablePedals">
                        <button
                          (click) = "map.pair(p, op.name)"
                          class= "sub-menu-pair-button"
                        >
                        {{ p }}
                        </button>
                      </ng-container>
                    </div>
                  </ng-container> 
                </div>
                    
              </div>
            </mat-menu>
          </ng-container>
        </div>
      </ng-container>
    </mat-expansion-panel>
  </div>

  <div class = "op-block">
    <mat-expansion-panel id ="operations-menu-t" class="op-menu-block" #opMenuT>
      <mat-expansion-panel-header id ="operations-header-transformations" class="op-header-t">
        <mat-panel-title>
          Transformation Operations
        </mat-panel-title>
      </mat-expansion-panel-header>
        
      <ng-container *ngFor="let class of pls.draftClassificationT">
        <div id="op-container" class="op-field">
          <h3>{{class.category}}</h3>
          <p> {{class.dx}}</p>
          <ng-container *ngFor="let op of class.ops">
            
            <button 
              mat-stroked-button
              [matTooltip] = op.dx
              matTooltipClass= "visibleTooltip" 
              [name] = op.name 
              [matMenuTriggerFor]="opMenu"
            >
            <div class="op-field-info">
              <mat-icon svgIcon="op-{{op.name}}" aria-hidden="false" aria-label="icon for {{op.name}} operation"></mat-icon>
              <div>{{op.name}}</div>
            </div>
            </button> 

            <mat-menu #opMenu="matMenu">

              <div class="sub-menu">
                <button mat-stroked-menu-item
                (click) ="addSingleOp(op)"
                class="sub-menu-button">
                  Add to Sequencer
                </button>

                <button mat-stroked-menu-item
                (click) ="addChainOp(op)"
                class="sub-menu-button">
                  Add Chain to Sequencer
                </button>

                <ng-container *ngIf="seq.chains != 0">
                  <button mat-stroked-menu-item
                  [matMenuTriggerFor]="opChains"
                  (click)="$event.stopPropagation();"
                  class="sub-menu-button">
                  Add to Existing Chain
                  </button>
                </ng-container>
                
                <mat-menu #opChains="matMenu">
                  <div class="sub-menu-chain">
                    <ng-container *ngFor="let ch of seq.chains">
                      <button mat-stroked-menu-item
                      (click) ="seq.addToChain(ch.id, op)">
                      Chain {{ch.id}}
                      </button>
                    </ng-container>
                  </div>
                </mat-menu>     
                
                <div class="sub-menu-rest">
                  <ng-container *ngIf="map.availablePedals.length > 0">
                    Pair with Pedal
                    <div class="sub-menu-pairs">
                      <ng-container *ngFor="let p of map.availablePedals">
                        <button
                          (click) = "map.pair(p, op.name)"
                          class= "sub-menu-pair-button"
                        >
                        {{ p }}
                        </button>
                      </ng-container>
                    </div>
                  </ng-container> 
                </div>
                
              </div>
            </mat-menu>
          </ng-container>
        </div>
      </ng-container>
    </mat-expansion-panel>
  </div>
</div>