.selvedge-container {
  text-align: center;

  .selvedge-block {
    stroke: black;
    stroke-width: 2px;
    stroke-dasharray: 1,4;
  }
}
#L,#R {
	width: 25%;
}
#spacer {
	padding-left: 20px;
	padding-right: 20px;
	width: 30px;
}