<!-- <mat-menu #seqMenu="matMenu">
  <div class="sub-menu">
    <div class="sub-menu-top">
      <div class="sub-menu-lr">
        <button mat-stroked-menu-item
        class="sub-menu-button"
          (click) ="seq.shiftOp(index, false)">
          Shift Left
        </button>

        <button mat-stroked-menu-item
          class="sub-menu-button"
          (click) ="seq.shiftOp(index, true)">
          Shift Right
        </button>
      </div>
      
      <button mat-stroked-menu-item
        class="sub-menu-button"
        (click) ="seq.delOpAt(index)">
        Remove Operation
      </button>
    </div>
    
    <div class="sub-menu-rest">
      <ng-container *ngFor="let param of op.params; let i = index">
        <ng-container  *ngIf="param.type === 'number'">
          <mat-form-field
          (click)="$event.stopPropagation();">
            <mat-label class="param-name">{{param.name}}</mat-label>
            <input 
              matInput
              id = "param-{{op.id}}-{{i}}"
              [matTooltip] = param.dx
              
              type = "number"
              [name]= param.name
              [min]= param.min
              [max]= param.max
              [(value)] = param.value
              (change)="updateParam(i, $event.target.value)"
              step = 1
            >

          </mat-form-field>
        </ng-container>
        <ng-container *ngIf="param.type === 'boolean'">
          <div class="mat-form-field">
            <mat-slide-toggle
              [matTooltip]=param.dx
              (change)= "updateParam(i, $event.checked)"          (click)="$event.stopPropagation();"
              > 
              <span *ngIf="param.value==1">{{param.truestate}}</span>
              <span *ngIf="param.value==0">{{param.falsestate}}</span> 
            </mat-slide-toggle>
          </div>
        </ng-container>
      </ng-container>  
    </div>
  </div>
</mat-menu> -->