.sub-menu{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em 1em 0 1em;
}

.sub-menu-top{
  display: flex;
  flex-direction: column;
}

.sub-menu-lr{
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.sub-menu-rest{
  display:flex;
  flex-direction: column;
  padding-top: 1em;
  max-width: 140px;
  font-size: 14px;
}

.sub-menu-button{
  padding: 0.3em;
  display: flex;
  flex-grow: 1;
  text-align: center;
}

.sub-menu-chain{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
}