<div class="operation-container">
  <app-op-button
    [selected] = "is_selected"
    [name] = "op.name"
    [classifier] = "op.classifier"
    [matMenuTriggerFor] = "menu"
  ></app-op-button>

  <ng-container *ngIf = "op.classifier == 'chain'; else chainTemplate">
    <app-menu-chain #seqChainMenu
    [op] = op
    [index] = seq_id
    ></app-menu-chain>
  </ng-container>

  <ng-template #chainTemplate>
    <app-menu-single #seqMenu
      [op] = op
      [index] = seq_id
    ></app-menu-single>
  </ng-template>
</div>  
