<div class="operation-container">
  <app-op-button
    [selected] = "is_selected"
    [name] = "op.name"
    [classifier] = "op.classifier"
    [matMenuTriggerFor] = "menu"
  ></app-op-button>
  <!-- <div *ngIf="is_selected; else notSelected">
    <div *ngIf="op.chain_check == 1 || op.custom_check == 1; else notChain">
      <div *ngIf="op.chain_check == 1">
        <button 
        [name] = op.name
        class="selected-operation-box"  
        [matMenuTriggerFor]="seqChainMenu">
          <mat-icon svgIcon="op-chain" aria-hidden="false" aria-label="icon for chain operation"></mat-icon>
          {{op.name}}
        </button>
      </div>
      <div *ngIf="op.custom_check == 1">
        <button 
        [name] = op.name
        class="selected-operation-box"  
        [matMenuTriggerFor]="seqMenu">
          <mat-icon svgIcon="op-custom" aria-hidden="false" aria-label="icon for custom operation"></mat-icon>
          {{op.name}}
        </button>
      </div>
    </div>
    
    <ng-template #notChain>
      <button 
      [name] = op.name
      class="selected-operation-box"  
      [matMenuTriggerFor]="seqMenu">
        <mat-icon svgIcon="op-{{op.name}}" aria-hidden="false" aria-label="icon for {{op.name}} operation"></mat-icon>
        {{op.name}}
      </button>
    </ng-template>
  </div>
   -->
  <!-- <ng-template #notSelected>
    <div *ngIf="op.chain_check == 1 || op.custom_check == 1; else notChain">
      <div *ngIf="op.chain_check == 1">
        <button 
        [name] = op.name
        class="operation-box"  
        [matMenuTriggerFor]="seqChainMenu">
          <mat-icon svgIcon="op-chain" aria-hidden="false" aria-label="icon for chain operation"></mat-icon>
          {{op.name}}
        </button>
      </div>
      <div *ngIf="op.custom_check == 1">
        <button 
        [name] = op.name
        class="operation-box"  
        [matMenuTriggerFor]="seqMenu">
          <mat-icon svgIcon="op-custom" aria-hidden="false" aria-label="icon for custom operation"></mat-icon>
          {{op.name}}
        </button>
      </div>
    </div>
    
    <ng-template #notChain>
      <button 
      [name] = op.name
      class="operation-box"  
      [matMenuTriggerFor]="seqMenu">
        <mat-icon svgIcon="op-{{op.name}}" aria-hidden="false" aria-label="icon for {{op.name}} operation"></mat-icon>
        {{op.name}}
      </button>
    </ng-template>
  </ng-template> -->

  <ng-container *ngIf = "op.classifier == 'chain'; else chainTemplate">
    <app-menu-chain #seqChainMenu
    [op] = op
    [index] = seq_id
    ></app-menu-chain>
  </ng-container>

  <ng-template #chainTemplate>
    <app-menu-single #seqMenu
      [op] = op
      [index] = seq_id
    ></app-menu-single>
  </ng-template>
</div>  
