.sub-menu{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em 1em 0 1em;
}

.sub-menu-top{
  display: flex;
  flex-direction: column;
}

.sub-menu-lr{
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.sub-menu-rest{
  display:flex;
  flex-direction: column;
  padding-top: 1em;
  max-width: 140px;
  font-size: 14px;
}

.sub-menu-button{
  padding: 0.3em;
  display: flex;
  flex-grow: 1;
  text-align: center;
}

.sub-menu-chain{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
}

.operation-box {
  background-color: #bbc5ff;
  margin-right: 10px;
  margin-left: 10px;
  padding: 15px;
  display: flex;
  align-items: center;
  column-gap: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.selected-operation-box {
  background-color: #f6ff00;
  margin-right: 10px;
  margin-left: 10px;
  padding: 15px;
  display: flex;
  align-items: center;
  column-gap: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


.mat-button {
  background-color: #ff4081;
  color: white;
  width: inherit;
  margin-left: 10px;
  margin-right: 10px;
}
