.first-row { 
  flex-wrap: wrap;
  display: flex;
  align-items: flex-start;
  flex-basis: 100%;
}

.loom-info{
  display: flex;
  flex-flow: column nowrap;
  max-width: 455px;
  min-width: 455px;
}

.draft-block{
  display: inline-flex;
  flex-flow: column nowrap;
  height: inherit; 
  flex: 1;
  max-width: 1300px;
}

.draft-scroll{
  max-width: 1300px;
  max-height: 375px;
  overflow: scroll;
}

.player-field-header {
  max-width: 1300px;
  padding: 14px;
  margin: unset;
  background: #3f51b5;
  color: #ffffff;
}

.pedal-field-header {
  padding-top: 10px;
  margin: unset;
  margin-bottom: 5px;
  color: #0a0000;
}

.virtual-wrapper{
  padding-top: 1em;
  padding-right: 1em;
  padding-bottom: 0.6em;
}

.loom-field {
  display: flex;
  margin-top: 10px;
  margin-bottom: 5px;
}

.online {
  background-color: rgb(58, 255, 19);
  color: #222222;
  border-radius: 5px;
  flex-grow: 0.3;
}

.offline {
  background-color: rgb(150, 0, 0);
  color: #ffffff;
  border-radius: 5px;
  flex-grow: 0.3;
}

.pedal-array, .active-draft, .status-row {
  display: flex;
  flex-direction: row;
}

.pedal-array {
  margin: 10px;
}

.pedal-box {
  background-color: #bbc5ff;
  margin-right: 10px;
  margin-left: 10px;
  padding: 15px;
  display: flex;
  align-items: center;
  column-gap: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pedal-box, .data-display, #loom-container {
  padding: 10px;
}

.loom-warps{
  flex-grow: 1;
}

#draft-container {
  background-color: rgb(214, 214, 214);
}

#active-draft-canvas {
  padding: 10px;
}

#startstop{
  display: flex;
  flex-grow: 1;
  padding: 1em;
  margin-bottom: 5px;
  margin-top: -5px;
}

.pedal-box-row > .mat-form-field, .mat-option {
  width: 130px;
}

.mat-button {
  background-color: #ff4081;
  color: white;
  width: inherit;
  text-align: center;
}

.mat-button.mat-button-disabled {
  background-color: #fd6d9d;
  color: rgba(255, 255, 255, 0.50);
  
}

.mat-expansion-panel-header, 
.mat-expansion-panel-header.mat-expanded:focus {
  background: #121f6b;
}


.mat-expansion-panel-body {
  padding: 0px;
}

.mat-expansion-panel, .mat-accordion, .mat-expansion-panel-header,
.mat-accordion .mat-expansion-panel:last-of-type, 
.mat-accordion .mat-expansion-panel:first-of-type  {
  border: #ffffff 1px;
  border-radius: 0pt;
  border-bottom-left-radius: 0pt;
  border-bottom-right-radius: 0pt;
  border-top-left-radius: 0pt;
  border-top-right-radius: 0pt;
  border-bottom: 0pt;
}

.mat-expansion-panel-header:hover, 
.mat-expansion-panel-header.mat-expanded:hover,
.mat-expansion-panel:not(.mat-expanded), 
.mat-expansion-panel-header:hover:not([aria-disabled=true])   {
  background: #566be2;
}

.mat-expansion-panel-header-title, .mat-expansion-indicator{
  color: white;
}