<mat-menu #seqChainMenu="matMenu">
  <div class="sub-menu">
    <div class="sub-menu-lr">
      <button mat-stroked-menu-item
        class="sub-menu-button"
        (click) ="seq.shiftOp(index, false)">
        Shift Left
      </button>

      <button mat-stroked-menu-item
        class="sub-menu-button"
        (click) ="seq.shiftOp(index, true)">
        Shift Right
      </button>
    </div>
    
    <button mat-stroked-menu-item
      class="sub-menu-button"
      (click) ="seq.delOpAt(index)">
      Remove Chain
    </button>

    <button mat-stroked-menu-item
      [matMenuTriggerFor]="chainEdit"
      (click)="$event.stopPropagation();"
      class="sub-menu-button">
      Edit Chain
    </button>

    <mat-menu #chainEdit="matMenu">
      <div class="sub-menu-chain">
        <ng-container *ngFor="let o of op.ops; index as i">
          <app-operation
            [seq_id] = i
            [op] = o
            (click)="$event.stopPropagation();"
          ></app-operation>
        </ng-container>
      </div>
    </mat-menu>
  </div>
</mat-menu>