.sub-menu{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
}

.sub-menu-top{
  display: flex;
  flex-direction: column;
}

.sub-menu-lr{
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.sub-menu-button{
  padding: 0.3em;
  display: flex;
  flex-grow: 1;
  text-align: center;
}

.sub-menu-chain{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5em;
}