 <!--render each of the subdrafts as an SVG Element to take advantage of intersection-->

<ng-container #vc>
<div id="palette"  class="palette-container" [class.no-pointer]="!pointer_events" [style.width.px]="viewport.getAbsoluteWidth()"  [style.height.px]="viewport.getAbsoluteHeight()">

  <p>Pi: {{pedals.pi_online.val}}</p>
  <p>Loom: {{pedals.loom_online.val}}</p>
  <p>Vacuum: {{pedals.vacuum_on.val}}</p>
  <p>Active Draft? {{pedals.active_draft.val}}</p>
  <p>Num Pedals: {{pedals.num_pedals.val}}</p>
  <p>Pedal Vals: {{pedals.pedal_array.toString()}}</p>
  <p>Loom Ready? {{pedals.loom_ready.val}}</p>
  <p>Num Picks: {{pedals.num_picks.val}}</p>
  <p>Pick Data: {{pedals.pick_data.val}}</p>

  
</div>

<svg id="scratch_svg">
    
</svg>

<canvas id="scratch" [style.z-index]="canvas_zndx" [class.no-pointer]="!pointer_events" [style.left.px]="viewport.vp.topleft.x" [style.top.px]="viewport.vp.topleft.y"></canvas>
</ng-container>
