.row {
  display: flex;
  flex-direction: row;
}

.row-item {
  margin: 0.4em;
  padding: 0.8em;
  border: none;
}

.pedal-array{
  display: flex;
  flex-flow: row wrap;
}

.mat-button {
  background-color: #ff4081;
  color: white;
  width: min-content;
  height: min-content;
  min-width: revert;
  min-height: revert;
  line-height: normal;
}

#button-container {
  padding: 1.2em 0;
}