<!-- Virtual Pedals: {{ pds.num_v_pedals.val }} -->

<div id="v-pedals-container" class="row">
  <div id="button-container" class="row">
    <button mat-button id="add-v-pedal" 
      (click)="pds.addVPedal()" 
      [disabled]="!pds.v_pedal_array.active"
      class="row-item">
      +
    </button>
    <button mat-button id="add-v-pedal" 
      (click)="pds.remVPedal()" 
      [disabled]="!pds.v_pedal_array.active || pds.v_pedals.length == 0"
      class="row-item">
      -
    </button>
  </div>
</div>