<h2 mat-dialog-title>Edit Shape</h2>

<mat-dialog-content>
  <form #shapeForm="ngForm">
    <mat-form-field class="is-fullwidth">
      <input matInput type="string" placeholder="Shape Name" name="name" [(ngModel)]="shape.name">
    </mat-form-field>
    <div class ="is-fullwidth">
      <input matInput type="number" placeholder="Width" name="width" [(ngModel)]="shape.width">
      <input matInput type="number" placeholder="Height" name="height" [(ngModel)]="shape.height">
    </div>
    <div class ="is-fullwidth">      
      <input matInput type="number" placeholder="Start" name="startCol" [(ngModel)]="shape.startCol">
      <input matInput type="number" placeholder="End" name="endCol" [(ngModel)]="shape.endCol">
    </div>
    <mat-form-field class="is-fullwidth">
      <mat-select placeholder="Shuttle" name="shuttle" #selectShuttle>
        <mat-option *ngFor="let shuttle of shuttles" [value]="shuttle.id">
          {{ shuttle.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button class="mat-raised-button" (click)="shuttleToShape(selectShuttle.value)">Add Shuttle</button>

    <!-- Shape visualizer/editor -->
    <mat-expansion-panel (opened)="view = true" (closed)="view = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ view? 'Hide' : 'Show' }} {{ editing }}
        </mat-panel-title>    
      </mat-expansion-panel-header>
      <div class="shape-container is-fullwidth">
      <svg #viewShape [attr.width]="draft.warps * 20" [attr.height]="draft.wefts * 20" style="background:#fefefe;">
        <g *ngFor="let row of shape.bounds">
          <rect #rowStart class="bound-block start" [attr.x]="row[1] * 20" [attr.y]="row[0] * 20" width="20" height="20" />
          <rect #rowFill class="shape-block" [attr.x]="(row[1]+1) * 20" [attr.y]="row[0] * 20" [attr.width]="(row[2]-row[1]-1) * 20" height="20"/>
          <rect #rowEnd class="bound-block end" [attr.x]="row[2] * 20" [attr.y]="row[0] * 20" width="20" height="20" (mousedown)="editing = true" (mouseup)="editing = false"/>
        </g>
      </svg>
      </div>
    </mat-expansion-panel>
  
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button class="mat-raised-button"(click)="close()">Close</button>
  <button class="mat-raised-button mat-primary"(click)="save()">Save</button>
</mat-dialog-actions>