<div class="player">
  <!-- <p>Ready to weave? {{pls.pedals.readyToWeave}}</p> -->
  <div class="pedal-array">
    <p>Pedals: </p>
    <!-- <p>{{pls.pedals}}</p> -->
    <ng-container *ngFor="let p of pls.pedals">
      <div class="pedal-box" id="pedal-{{p.id}}">
        <div class="pedal-box-row">
          <span class="pedal-field">{{p.id}}</span>
          <span class="pedal-field">{{p.u_name}}</span>
        </div>
        <div class="pedal-box-row">
          <span class="pedal-field-label">State: </span>
          <span class="pedal-field">{{p.state}}</span>
        </div>
        <div class="pedal-box-row">
          <mat-form-field>
            <mat-label>Operation</mat-label>
            <mat-select (selectionChange)="pls.setPedalOp($event, p)">
              <mat-option *ngFor="let op of pls.options" 
                [value]="op.name">
                {{op.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <!-- <span class="pedal-field-label">Operation: </span>
          <span class="pedal-field">{{p.op}}</span> -->
        </div>
      </div>
    </ng-container>
  </div>
  <div class="active-draft">
    <p>Draft: </p>
    <canvas id="active-draft-canvas"></canvas>
    <button id="startstop" (click)="pls.toggleWeaving()" [disabled]="!pls.readyToWeave">
      <div *ngIf="!pls.weaving; else isWeaving">Start Weaving</div>
      <ng-template #isWeaving>Stop Weaving</ng-template>
    </button>
  </div>
  <div class="loom-status">
    <div class="status-row">
    <p>Loom: </p>
    <p id="loom-status" *ngIf="pls.pds.loom_online.val; else loomOffline">online</p>
    <ng-template #loomOffline>offline</ng-template>
  </div>
    <mat-form-field>
      <mat-label>Warps</mat-label>
      <input matInput value="{{pls.loom.warps}}" (change)="pls.changeLoomWidth($event)" type="number">
    </mat-form-field>
    <mat-slide-toggle 
      checked="{{pls.loom.draftTiling}}"
      (change)="pls.toggleDraftTiling($event)">
        Tile draft to loom width?
    </mat-slide-toggle>
  </div>
</div>

<div class="loom"></div>
