<mat-accordion id="player-container">
  <mat-expansion-panel
    [expanded] = "playOpen"
    (opened) = "playOpen = true"
    (closed) = "playOpen = false"
    (afterCollapse)="resizeContainer()"
    (afterExpand)="resizeContainer()">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ playOpen? 'Close' : 'Open'}} Draft Player
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div id="player-content" class="player">
      <div id="loom-container" class="loom-block">
        <div id="loom-status" class="loom-field">
          <ng-container *ngIf="pls.pds.loom_online.val; else loomOffline">
            <p class="online data-display">Loom: Online</p>
          </ng-container>
          <ng-template #loomOffline>
            <p class="offline data-display">Loom: Offline</p>
          </ng-template>
        </div>

        <mat-form-field id="loom-warps" class="loom-field">
          <mat-label>Warps</mat-label>
          <input matInput value="{{pls.loom.warps}}" (change)="pls.changeLoomWidth($event)" type="number">
        </mat-form-field>

        <mat-slide-toggle id="loom-draft-tiling" class="loom-field"
          checked="{{pls.loom.draftTiling}}"
          (change)="pls.toggleDraftTiling($event)">
            Draft Tiling
        </mat-slide-toggle>

        <div id="startstop-container" class="loom-field">
          <button mat-button id="startstop" 
            (click)="pls.toggleWeaving()" 
            [disabled]="!pls.readyToWeave">
            <div *ngIf="!pls.weaving; else isWeaving">Start Weaving</div>
            <ng-template #isWeaving>Stop Weaving</ng-template>
          </button>
        </div>
        
        <div id="pedals-list" class="loom-field">
          <h2 class="pedal-field-header">Pedals </h2>
          <div class="pedal-array pedals-field">
            <ng-container *ngFor="let p of pls.pds.pedals">
              <button 
              [name] =p.id
              class="pedal-box">
              {{p.id}}
              </button>
            </ng-container>
          </div>
        </div>

      </div>

      <div id="draft-container" class="draft-block">
          <h2 class="player-field-header">Draft</h2>
          <div class="draft-scroll">
          <canvas class="draft-field" id="active-draft-canvas"></canvas>
          </div>
      </div>

      <div class="break"></div>

      <div class = "op-block">
      <mat-expansion-panel id ="operations-menu" class="op-menu-block">
        <mat-expansion-panel-header id ="operations-header" class="op-header">
          <mat-panel-title>
            Operations
          </mat-panel-title>
        </mat-expansion-panel-header>
          
          <ng-container *ngFor="let class of pls.draftClassification">
            <div id="op-container" class="op-field">
            <h3>{{class.category}}</h3>
            <p> {{class.dx}}</p>
            <ng-container *ngFor="let op of class.ops">
                <button mat-stroked-button
                    [matTooltip] = op.dx
                    matTooltipClass= "visibleTooltip" 
                    [name] = op.name 
                    [matMenuTriggerFor]="menu">
                    {{op.name}}
                  </button> 
                  <mat-menu #menu="matMenu">
                    <!-- <ng-container *ngFor="let p of pls.pds.pedals"> -->
                      <button mat-stroked-menu-item
                      (click) ="pls.addToRoulette(op.name)">
                        <!-- {{p.id}} -->
                        Add to Roulette
                      </button>
                    <!-- </ng-container> -->
                  </mat-menu>
            </ng-container>
          </div>
          </ng-container>
      </mat-expansion-panel>
      </div>

      <div id="roulette-container" class="roulette-block">
        <h2 class="player-field-header">Operation Roulette </h2>
        <!-- <p>{{pls.pedals}}</p> -->
        <div class="pedal-array pedals-field">
          <ng-container *ngFor="let p of pls.pds.pedals">
            <button 
            [name] =p.id
            class="pedal-box">
            {{p.id}}
            </button>
          </ng-container>
        </div>
      </div>
    
    </div>

    
  </mat-expansion-panel>

</mat-accordion>

